In [2]:
import pandas as pd
import numpy as np

Task 1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [9]:
f1 = pd.Series(np.random.rand(4))
f2 = pd.Series(np.random.rand(4))
f3 = pd.Series(np.random.rand(4))
f4 = pd.Series(np.random.rand(4))

df = pd.DataFrame([f1,f2,f3,f4])
df

          0         1         2         3
0  0.296730  0.702971  0.879468  0.755771
1  0.838250  0.375387  0.963681  0.792463
2  0.271947  0.751352  0.706165  0.023937
3  0.877254  0.630791  0.432927  0.936210

Task 2 - Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' and 'Random value 4'

In [11]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.296730        0.702971        0.879468        0.755771
1        0.838250        0.375387        0.963681        0.792463
2        0.271947        0.751352        0.706165        0.023937
3        0.877254        0.630791        0.432927        0.936210

Task 3 - Find the descriptive statistics of the 'df' dataframe

In [13]:
df.describe()   # or df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.571045        0.615125        0.745560        0.627095
std          0.331598        0.167326        0.234378        0.409575
min          0.271947        0.375387        0.432927        0.023937
25%          0.290534        0.566940        0.637856        0.572813
50%          0.567490        0.666881        0.792817        0.774117
75%          0.848001        0.715066        0.900521        0.828399
max          0.877254        0.751352        0.963681        0.936210

Task 4 - Check for the null values in 'df' and find the datatype of the columns

In [14]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [17]:
df.info()   # or df['Random value 1'].dtype, df['Random value 2'].dtype, df['Random value 3'].dtype, df['Random value 4'].dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

Task 5 - Display the 'Random value 2' and 'Random value 3' columns with location method and index location method

In [35]:
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.702971        0.879468
1        0.375387        0.963681
2        0.751352        0.706165
3        0.630791        0.432927

In [33]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.702971        0.879468
1        0.375387        0.963681
2        0.751352        0.706165
3        0.630791        0.432927